body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    margin: 15px;
    width: 400px; height: 60px;
}

button{
    margin: 10px;
    width: 250px; height: 30px;
}

ul{
    border: solid;
}

li{
    max-width: 400px;
}

img{
    max-height: 200px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttonsDiv{
    margin-top: 30px;
}