<div>
    <h1>Login Form</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Password</label>
        <input type="password" name="password">
        <br/>
        <input type="submit">
    </form>
    <p><a href="/register">Sign up here!</a></p>
</div>

<script src="/js/login.js"></script>