<div>
    <h1>Register Form</h1>
    <form id="registerForm">
        <label>Firstname</label>
        <input name="first_name">
        <br/>
        <label>Lastname</label>
        <input name="last_name">
        <br/>
        <label>Age</label>
        <input name="age">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Password</label>
        <input type="password">
        <br/>
        <input type="submit">
    </form>
    <p><a href="/login">Log in instead.</a></p>
</div>

<script src="/js/register.js"></script>